:root {
    --primary-color: #1DCD9F;
    --secondary-color: #169976;
    --background-color: #181818;
    --secondary-background-color: #111111;
    --primary-background-contrast: #ffffff;
    --secondary-background-contrast: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--primary-background-contrast);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-background-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: var(--primary-color) solid 5px;
}

header h1 {
    font-size: 30px;
}

header p {
    font-size: 15px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}

#passwordBox {
    padding: 50px;
    width: 50%;
    border: var(--primary-color) solid 5px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#password{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 25px;
    max-width: 100%;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

#password::-webkit-scrollbar {
    height: 8px;
}

#password::-webkit-scrollbar-track {
    background: var(--secondary-background-color);
    border-radius: 4px;
}

#password::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

#password::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

#password {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-background-color);
}

.button {
    font-weight: bold;
    background-color: transparent;
    border: var(--primary-color) solid 5px;
    border-radius: 10px;
    color: var(--primary-background-contrast);
}

.button:hover {
    cursor: pointer;
    background-color: var(--background-color);
}

#generatePasswordButton {
    margin-top: 100px;
    padding: 30px;
    font-size: 30px;
}

#copy {
    padding: 10px;
    border: 0;

}

.copy-svg {
    width: 60px;
    height: 60px;
}

footer {
    border-top: var(--primary-color) solid 5px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}